* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.synopsis {
    background-color: black;
}

p { 
    color: white;
}


.footer {
    background-color:#313131;
    color: white;
    align-items: center;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    width: 100%;
    height: 200px;

}

header{
background:black;
width: 100% ;
flex-direction: row;
 align-items:center;
 display: inline-flex;
}    

#logofireforce {
    width: 20%;
}

.haut {
    padding-left: 50px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.a {
    color: white;
    font-size: 20px;
}

#logofooter {
    width: 15%;
    padding-left: 0%;
}

.origine {
    color: white;
    width: 40%;
    font-size: 25px;
    margin: 30px;
}

.footer-gauche {
    font-size: 20px;
}

/* Fin accueil */

h1 {
    color: white;
}

h2 {
    color: white;
}

#createur {
    width: 30%;
    
}

#crea {
    font-size: 20px;
    margin: 15px;
    padding-left: 500px;
}


#anime {
    width: 15%;
    padding-left: 100px;
    margin: 20px;

}

.actualiter {
    background-color: black;
    color: white;
}

#actualiter {
    width: 50%;
    font-size: 25px;
}

.actualiter2 {
    margin: 30px;
    font-size: 25px;
    width: 50%;
}

.tomedefireforce {
    width: 20%;
    margin: 20px;
}

#news {
   font-size: 40px;
    margin: 20px;
}

/* Fin de Actualiter*/

.studioanimation {
    background-color: black;
    color: white;
}

.para {
    width: 50%;
    font-size: 25px;
    margin: 30px;
}
  
.ayantdroit {
    width: 17%;
    margin: 20px;
    padding-left: 150px;
}

#droit {
    margin: 20px;
}

/* Fin de Studio */

.bandeson {
    background-color: black;
    color: white;
}

.liste {
    font-size: 20px;
    margin: 15px;
}

.ost {
    padding-left: 30px;
    margin: 30px;
}
